* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-align: justify;
  }
html, body {
  background-color: #C1DEFF;
  font-family: monospace;
}

.imgimg {
width: 50px;
height: 50px;
margin: 30px;
justify-content: left;
}

.ul-navbar {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #d4c7ff;
    min-height: 5em;
    border: 1px solid;
    border-color: #b2f4ca;
    margin-bottom: 30px;
    box-shadow: 10px 5px 5px gray;
}

.container {
    width: 50%; 
    position: relative; 
  }
  label {display:block;}
  input {width: 100%;} 
  input,  button {
        padding: 10px;
        border-radius: 10px;
        border-color: black;
        background: lightgrey;
    }
  button {
    position: absolute;   
    top: 0; 
    right: 0;
    background: #d4c7ff;
    box-shadow: 10px 5px 5px gray;
  }

a {
    text-decoration: none;
    color: var(--light-blue);
    font-size: large;
}
a:hover{
    background: #656868;
    color: #d4c7ff;
    cursor: pointer;   
    border-radius: 5px;
}

h2:hover {
    background: #656868;
    color: #d4c7ff;
    cursor: pointer;   
    border-radius: 5px;
}

h3 {
    font-size: large;
}

.container {
    margin: 2%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.article1 {
    border: 1px solid;
    margin-right: 2%;
    height: 698px;
    width: 25%;
    overflow: scroll;
    background-color: #F9F1A8;
    border-color: #b2f4ca;
    box-shadow: 10px 5px 5px gray;
}

.article2 {
    border: 1px solid;
    height: 698px;
    width: 75%;
    font-size: 12px;
    overflow: scroll;
    background-color: #F9F1A8;
    border-color: #b2f4ca;
    margin-right: 4%;
    box-shadow: 10px 5px 5px gray;
}

.text1 {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 3px;
  margin-inline-end: 3px;
  font-size: large;
  letter-spacing: 10px;
}   

@media only screen and (max-width: 320px) {
 .text1 {
     font-size: 10px; 
}


}

.text2 {   
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 3px;
    margin-inline-end: 3px;
    font-size: large;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #d4c7ff;
    color: white;
    text-align: center;
    padding: 10px ;
 }
